.cards-container {
  display:flex;
  flex-wrap: wrap;
  padding: 8px;
}
.card{
  padding: 8px;
  flex:1 1 200px;
  max-width: 220px;

}

.gab{
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid $black;
  padding:16px 8px 8px 8px;
  &:hover .avatar__abbr{
    background-color: $yellow-dark;
  }
}

.avatar{
  display: flex;
  justify-content: center;
  margin-bottom:8px;
  .avatar__abbr{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $black;
    border-radius: 50%;
    height: 100px;
    width:  100px;
    font-size: 44px;
    background-color: $yellow;
    font-weight: 900;
transition: all .4s ease-in;
  }
}
.body{
  .body__text{
    margin-bottom:8px;
  }
}