.cards-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 8px;
}

.card-wrapper{
  padding: 8px;
  flex:1 1 200px;
  max-width: 200px;
  // align-items: stretch;
}

.card{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 240px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid $black;
  padding:16px 8px 8px 8px;

  &:hover .avatar__abbr{
    background-color: $yellow-dark;
  }
}

.avatar{
  display: flex;
  justify-content: center;
  .avatar__abbr{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $black;
    border-radius: 50%;
    min-height: 100px;
    min-width:  100px;
    font-size: 44px;
    font-weight: 900;
    background-color: $yellow;
    transition: all .4s ease-in;
  }
}
.body{
  .body__text{
    margin-bottom:8px;
    word-wrap:break-word
  }
}