.popup {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background-color: $popupBackground;
	height: 100%;
	width: 100%;
}

.popup-window {
	position: relative;
	background-color: white;
	border-radius: 4px;
	border: 3px solid $yellow;
}

.exit {
	display: flex;
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 12px;
	justify-content: center;
	align-items: center;
	background-color: $yellow;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.6s ease;
	&:hover {
		transform: rotate(-45deg);
	}
}

.name-wrapper {
	padding: 16px;
	text-align: center;
	border-bottom: 2px solid $gray;
	font-size: 20px;
}

.description-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	.description__heading {
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 16px;
	}
}

.description-appearance {
	border-bottom: $divider;
	margin-bottom: 16px;
}

.description-resources {
	padding: 0 16px;
}

.description-appearance__item,
.description-stats__items,
.popup-stats-items {
	margin: 16px 0;
	li {
		margin-bottom: 8px;
	}
}

.resources-homeworld,
.resources-films,
.resources-vehicles {
	display: flex;
	border-bottom: $divider;
	margin-bottom: 8px;
}

.resources-starships {
	display: flex;
}

.resources-homeworld {
	.stats-list {
		li {
			list-style-type: none;
		}
	}
}

.resources-heading {
	margin-top: 4px;
	text-align: right;
	width: 100px;
	margin-right: 32px;
}

.resources-list {
	li {
		list-style-type: disc;
		a {
			display: block;
			color: rgb(212, 212, 4);
			padding: 4px 0;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
