.header{
  color: $yellow;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: black;
}

.logo{
font-size: 24px;
  margin-right: 16px;
  font-weight: bold;
}

.nav-list{
  display: flex;
  color: $yellow;

  .nav-list__item{
    padding: 8px 8px;
    .selected{
    background-color: #595959;
  }

  }
  .nav-list__link{
    color: $yellow;
    cursor: pointer;
    padding: 8px;
  }
}



