.btn-load-more{
  background-color: $yellow;
  padding: 8px 32px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s ease-in;
  &:hover{
    background-color: $yellow-dark;
  }
};
.btn-load-more_center{
  text-align: center;
}